.media-card-link {
    font-family: "Roboto";
}

.media-card {
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    transform: translateY(0) scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container {
    position: relative;
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2/3;
}

.media-poster {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    mask-image: linear-gradient(to bottom,
            transparent 0%,
            white 6%,
            white 94%,
            transparent 100%);
    mask-image: linear-gradient(to bottom,
            transparent 0%,
            white 6%,
            white 94%,
            transparent 100%);
}

.overlay-text {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    transition: opacity 0.3s ease;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
}

.card-rating {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.card-year {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px !important;
    font-size: 0.9rem;
    font-weight: 500;
    border-top: none !important;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.rating-badge {
    background: rgba(0, 0, 0, 0.6) !important;
    color: white;
    font-size: 0.95rem;
    font-weight: bold;
    padding: 3px 11px 2px 6px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.imdb-star {
    color: #000;
    margin-right: 3px;
}

.year-badge {
    background: rgba(0, 0, 0, 0.6) !important;
    color: #fff;
    font-size: 0.95rem;
    font-weight: bold;
    opacity: 0.9;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
}

.skeleton-card {
    background-color: #242424;
}

.skeleton-image {
    aspect-ratio: 2/3;
    height: 100%;
    width: 100%;
    background: linear-gradient(110deg, #333 8%, #444 18%, #333 33%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite linear;
    border-radius: 8px 8px 0 0;
}

.skeleton-title {
    height: 24px;
    width: 80%;
    margin-bottom: 10px;
    background: linear-gradient(110deg, #333 8%, #444 18%, #333 33%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite linear;
    border-radius: 4px;
}

.skeleton-rating,
.skeleton-year,
.skeleton-genre,
.skeleton-language {
    height: 16px;
    width: 60%;
    margin-bottom: 8px;
    background: linear-gradient(110deg, #333 8%, #444 18%, #333 33%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite linear;
    border-radius: 4px;
}

.skeleton-genre {
    width: 70%;
}

.skeleton-language {
    width: 40%;
}

.skeleton-badge {
    height: 18px;
    width: 50px;
    background: linear-gradient(110deg, #333 8%, #444 18%, #333 33%);
    background-size: 200% 100%;
    animation: shine 1.5s infinite linear;
    border-radius: 4px;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}